.item {
    width: 20rem;
    height: 20rem;
    background-color: #000000;
    border-radius: 1px solid black;
    box-shadow: 5px 5px 10px 5px;
}

.img{
    width: 10%;
}

.verde {
    background-color: #000000;
}
